# ===== OS =====
.DS_Store

# ===== Backend (Spring Boot) =====
backend/target/
backend/*.log

# ===== Frontend (React) =====
frontend/node_modules/
frontend/dist/

# ===== Env / Secrets =====
.env
.env.*
