.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
}

.card {
    border: 1px solid #ffffff;
    background-color: antiquewhite;
    border-radius: 8px;
    width: 200px;
    height: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img{
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.tags{
    padding: 8px;
    font-size: 14px;
    color: #555;
    text-align: center;
}